<h1><%= i18n_connector('phrases.models.member', 'phrases.actions.update') %></h1>

<%= render 'form', member: @member %>

<%= link_to t('phrases.actions.update'), @member %> |
<%= link_to t('phrases.actions.back'), members_path %>
